/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Montserrat Alternates', sans-serif;
}
.header {
    background-color: black;
}

.logo{
    max-width: 100%;
    /*position:absolute;*/
}

.navigation {
    display: flex;
    justify-content:space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.navbar li a{
    margin-right:10px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    transform: scale(1);
    transition-duration: 1s;   
}

/*---NAV ANIMATION AND ACCESSIBILITY----*/
.navbar li a:hover{
    transform: scale(2);
    transition-duration: 0.5s;
    font-weight:700;
    font-size: 1rem;
    text-decoration: underline #54231e 2px;    
}
.navbar li a:focus{
    color: #009FE3;
    font-size: 1rem;    
    text-decoration: underline white 1px;
}
.navbar li a:active{
    color:#385c85;
    font-weight: bolder;
    text-decoration: underline #54231e 2px;
}
/*--------------------*/
.ibanner{
    max-width: 100%;       
}






/*----SCREEN RESIZES----*/

@media screen and (min-width:390px){
    .navbar{
        margin-top: 35px;
    }
    .navbar li a{
        font-size: 1rem;
        margin-right:20px;
        transform: scale(1);
        transition-duration: 1s;        
    }
    .navbar li a:hover{
        transform: scale(2);
        transition-duration: 0.5s;
        font-weight:700;
        font-size: 1.2rem;
        text-decoration: underline #54231e 2px;
    }
    .navbar li a:focus{
        color: #009FE3;
        font-size: 1.2rem;    
        text-decoration: underline white 1px;
    }
    .navbar li a:active{
        color:#385c85;
        font-weight: bolder;
        text-decoration: underline #54231e 2px;
    }
}

@media screen and (min-width:780px){
    .navbar{
        margin-top: 70px;
    }
    .navbar li a{
        margin-right:20px;
        font-size: 1.5rem;
        transform: scale(1);
        transition-duration: 1s;        
    }
    .navbar li a:hover{
        transform: scale(2);
        transition-duration: 0.5s;
        font-weight:700;
        font-size: 1.8rem;
        text-decoration: underline #54231e 2px;
    }
    .navbar li a:focus{
        color: #009FE3;
        font-size: 1.8rem;    
        text-decoration: underline white 1px;
    }
    .navbar li a:active{
        color:#385c85;
        font-weight: bolder;
        text-decoration: underline #54231e 2px;
    }
}

